@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #333;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("ps.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right {
  right: 0;
  background: url("xbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
